.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-grey-light-2;
  padding: 20px 25px 40px 25px;
  border-radius: 4px;
  width: 400px;
  &__title {
    text-align: center;
    font-size: 5rem;
    color: $color-primary;
  }
  &__message {
    text-align: center;
    font-size: 22px;
  }
  &__link {
    text-align: center;
    color: $color-primary-dark;
    font-size: 14px;
  }
}
